{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% for item in art %}
    <h4><b>{{item.name}}</b></h4>
    <br>
    <br>
    {{item.category}}/{{item.published_date}}/{{item.view}}
    <br><br>
    <center>
        <img src="{{item.img.url}}" alt="">
    </center>
    <br><br>
    <p>
        {{item.body}}
    </p>
    {% endfor %}
    <br>
    <br>
    <hr>
    {% for item in art_com %}
    <div style="border:1px solid black;padding:10px;">
        <b>{{item.author}}</b><br>
        <p>
            {{item.comment}}
        </p>
        <a href="{% url 'main:delete' item.id %}">delete</a>
    </div><br>
    <br>
    {% endfor %}

</div>



{% endblock %}