@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins-v20-latin-regular.ttf);
  src: url(../fonts/poppins-v20-latin-regular.woff);
  src: url(../fonts/poppins-v20-latin-regular.woff2);
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins-v20-latin-500.ttf);
  src: url(../fonts/poppins-v20-latin-500.woff);
  src: url(../fonts/poppins-v20-latin-500.woff2);
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/poppins-v20-latin-700.ttf);
  src: url(../fonts/poppins-v20-latin-700.woff);
  src: url(../fonts/poppins-v20-latin-700.woff2);
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

img {
  display: block;
}

.container {
  max-width: 1080px;
  margin-inline: auto;
  padding: 0 20px;
}

header {
  background-color: #fff;
}

.remove-left-page_btn {
  background-color: #F8B602;
  border-radius: 0 8px 8px 0;
  border: none;
  padding: 3px 13px;
  position: absolute;
  top: 50px;
  right: -50px;
  cursor: pointer;
}

.left-page_box {
  position: absolute;
  z-index: 1000;
  text-align: center;
  width: 345px;
  transform: translateX(-400px);
  height: auto;
  background-color: #fff;
  overflow-y: scroll;
  padding-top: 50px;
  transition: all 0.5s ease;
}

.menu-bar_box {
  margin-top: 62px;
}

.left-page_home {
  background-color: #fff;
  width: 252px;
  height: 64px;
  border-radius: 16px;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: nowrap;
  margin-inline: auto;
  margin-top: 30px;
  padding-left: 32px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.left-page_home svg {
  color: #A098AE;
}
.left-page_home:hover {
  background-color: rgba(248, 182, 2, 0.6431372549);
}
.left-page_home:hover svg {
  color: #fff;
}

.left-page_home-active {
  background-color: #F8B602;
}
.left-page_home-active svg {
  color: #fff;
}
.left-page_home-active p {
  color: #fff;
}
.left-page_home-active:hover {
  background-color: #F8B602;
}

.left-page_home:hover .left-page-home_text {
  color: rgb(255, 255, 255);
}

.left-page-home_text {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(160, 152, 174);
  font-family: "Poppins";
}

.upgrade-card {
  background-image: url(../../images/Group\ 181.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 252px;
  height: 202px;
  margin-top: 239px;
  margin-inline: auto;
  padding: 32px 33px 32px 33px;
  text-align: start;
}

.upCard-info {
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
  color: rgb(255, 255, 255);
  font-family: "Poppins";
  text-align: start;
}

.upgrade-btn {
  background-color: #fff;
  border-radius: 8px;
  border: none;
  padding: 5px 18px;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
  color: rgb(46, 46, 46);
  margin-top: 16px;
  transition: all 0.3s ease;
}
.upgrade-btn:hover {
  transform: scale(1.1);
}
.upgrade-btn:active {
  transform: scale(1);
}

.elipse-shadow {
  position: absolute;
  background: linear-gradient(173.01deg, #FFFFFF -74.62%, rgba(255, 255, 255, 0.892708) -56.47%, rgba(255, 255, 255, 0) 94.54%, rgba(255, 255, 255, 0) 94.54%);
  top: 945px;
  right: 0;
  width: 170px;
  height: 170px;
  border-radius: 50%;
}

.left-page-active {
  transform: translateX(0px);
  transition: all 0.5s ease;
  transform-origin: left;
}

.author-box {
  margin-top: 1000px;
  margin-bottom: 35px;
}

.author-info {
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  text-align: start;
  margin-left: 50px;
  margin-bottom: 7px;
}

.author-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  text-align: start;
  margin-left: 50px;
}

.header-in {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px 0;
}

.burger-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.burger {
  cursor: pointer;
  position: absolute;
  top: 20px;
}
.burger span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #F8B602;
}
.burger span:nth-child(2) {
  margin: 4px 0;
}

.burger-active {
  transform: translateY(10px);
  transition: all 0.6s ease;
  transform-origin: left;
}
.burger-active span:nth-child(1) {
  transform: rotateZ(44deg);
  transition: all 0.3s ease;
  margin-bottom: -4px;
  border-radius: 4px;
}
.burger-active span:nth-child(2) {
  display: none;
}
.burger-active span:nth-child(3) {
  margin-top: -3px;
  transform: rotateZ(-47deg);
  transition: all 0.3s ease;
  border-radius: 4px;
}

.header-text {
  margin-left: 87px;
  font-size: 36px;
  font-weight: 700;
  line-height: 35px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.saerch-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  padding-top: 5px;
}

.header-serach_btn {
  background-color: transparent;
  border-radius: none;
  border: none;
  padding: none;
  transition: all 0.3s ease;
}
.header-serach_btn:hover {
  transform: scale(1.1);
}
.header-serach_btn:active {
  transform: scale(1);
}

.search-all {
  outline: none;
  border: none;
  margin-left: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(160, 152, 174);
  font-family: "Poppins";
  width: 331px;
  transition: all 0.3s ease;
}
.search-all:focus {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

@media (max-width: 820px) {
  .search-all {
    width: 300px;
  }
  .header-text {
    font-size: 32px;
    font-weight: 700;
    line-height: 54px;
    color: rgb(46, 46, 46);
  }
  .saerch-box {
    position: absolute;
    right: 20px;
  }
  .header-serach_btn {
    background-color: #E9E6E4;
    border-radius: 8px 0 0 8px;
    border: none;
    padding: 4px 0;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 3px;
    transition: all 0.3s ease;
  }
  .header-serach_btn:hover {
    transform: scale(1);
  }
  .header-serach_btn:active {
    transform: scale(1);
  }
  .search-all {
    border-radius: 0 8px 8px 0;
    padding: 5px 0;
    width: 80px;
    background-color: #E9E6E4;
    margin-left: 0;
  }
  .search-all::-moz-placeholder {
    transform: scaleX(0);
  }
  .search-all::placeholder {
    transform: scaleX(0);
  }
  .search-all:focus {
    width: 280px;
  }
  .search-all:focus::-moz-placeholder {
    transform: scaleX(1);
  }
  .search-all:focus::placeholder {
    transform: scaleX(1);
  }
  .upgrade-card {
    margin-top: 130px;
    margin-inline: auto;
    padding: 32px 33px 32px 33px;
    text-align: start;
  }
  .elipse-shadow {
    top: 835px;
  }
}
@media (max-width: 700px) {
  .header-text {
    margin-left: 65px;
  }
  .header-text {
    font-size: 28px;
    font-weight: 700;
    line-height: 54px;
    color: rgb(46, 46, 46);
  }
  .saerch-box {
    top: 60px;
  }
  .search-all {
    background-color: transparent;
    width: 280px;
  }
  .search-all::-moz-placeholder {
    transform: scaleX(1);
  }
  .search-all::placeholder {
    transform: scaleX(1);
  }
  .header-serach_btn {
    background-color: transparent;
    border-radius: none;
    border: none;
    padding: 5px;
    transition: all 0.3s ease;
  }
  .header-serach_btn:hover {
    transform: scale(1.1);
  }
  .header-serach_btn:active {
    transform: scale(1);
  }
}
@media (max-width: 550px) {
  .saerch-box {
    top: 60px;
  }
  .search-all {
    width: 280px;
    background-color: transparent;
  }
  .search-all:focus {
    width: 280px;
  }
}
@media (max-width: 410px) {
  .header-text {
    margin-left: 50px;
  }
}
@media (max-width: 400px) {
  .remove-left-page_btn {
    right: 0;
    background-color: #F8B602;
    border-radius: 8px 0px 0px 8px;
    border: none;
    padding: 3px 13px;
    top: 100px;
  }
  .upgrade-card {
    margin-top: 80px;
  }
  .elipse-shadow {
    top: 785px;
  }
}
@media (max-width: 370px) {
  .left-page_box {
    width: 100%;
  }
}
@media (max-width: 357px) {
  .header-text {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    color: rgb(46, 46, 46);
  }
  .saerch-box {
    top: 43px;
  }
  .search-all {
    width: 250px;
  }
  .search-all:focus {
    width: 250px;
  }
}
@media (max-width: 357px) {
  .search-all {
    width: 230px;
  }
  .search-all::-moz-placeholder {
    font-size: 13px;
    width: 250px;
  }
  .search-all::placeholder {
    font-size: 13px;
    width: 250px;
  }
  .search-all::-moz-placeholder:focus {
    width: 250px;
  }
  .search-all::placeholder:focus {
    width: 250px;
  }
}
.hero-box {
  padding: 10px 0;
}

.hero {
  background-image: url(./staticfiles/images/MaskGrouphero-backgraund.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 16px;
  padding: 47px 52px;
  width: 100%;
  margin: 0 auto;
}

.hero-text {
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  color: #fff;
  font-family: "Poppins";
  max-width: 385px;
}

.hero-info {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  font-family: "Poppins";
  max-width: 455px;
  text-shadow: 6px 6px 6px #F8B602;
}

@media (max-width: 580px) {
  .hero-text {
    font-size: 26px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    text-shadow: 4px 4px 4px #F8B602;
  }
  .hero {
    padding: 47px 30px;
  }
}
@media (max-width: 434px) {
  .hero {
    padding: 30px 30px;
  }
}
@media (max-width: 420px) {
  .hero-text {
    font-size: 23px;
    font-weight: 700;
    line-height: 35px;
    color: #fff;
    text-shadow: 4px 4px 4px #F8B602;
  }
  .hero-info {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #fff;
  }
}
@media (max-width: 377px) {
  .hero {
    padding: 17px 23px;
  }
}
.categories-box {
  padding: 30px 0;
}

.cate-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.categories-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.categories-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #F8B602;
  font-family: "Poppins";
}

.categories-line {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.categories-item {
  text-align: center;
  cursor: pointer;
  margin-inline: 5px;
}
.categories-item:hover .item-name {
  color: rgb(46, 46, 46);
}

.item-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #A098AE;
  font-family: "Poppins";
  transition: all 0.4s ease;
}

@media (max-width: 740px) {
  .categories-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 400px) {
  .categories-link {
    max-width: 120px;
  }
  .categories-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #F8B602;
  }
}
@media (max-width: 350px) {
  .categories-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(46, 46, 46);
  }
  .categories-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #F8B602;
  }
}
.Hamburger-box {
  padding: 20px 0;
}

.ham-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.hamBurger-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.hamBurger-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #F8B602;
  font-family: "Poppins";
}

.Burger-Card_line {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.ham-line-item {
  width: 272px;
  height: 363px;
  text-align: center;
  padding: 28px 0;
}

.diskot {
  padding-top: 6px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  font-family: "Poppins";
  text-align: center;
  background: #EB5757;
  border-radius: 0px 8px 8px 0px;
  width: 96px;
  height: 32px;
}

.ham-sale-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 32px;
}

.star-line {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-wrap: nowrap;
  padding: 5px 0;
}

.star-item {
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 4px;
}
.star-item:hover {
  transform: scale(1.1);
}
.star-item:active {
  transform: scale(1);
}

.ham-sale-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
  text-align: start;
}

.ham-sale-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #F8B602;
  font-family: "Poppins";
  text-align: start;
}

.buy-hamBurger_btn {
  background-color: #F8B602;
  border-radius: 8px;
  border: none;
  padding: 10px 13px;
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  transition: all 0.2s ease;
  margin-top: 33px;
}
.buy-hamBurger_btn:hover {
  transform: scale(1.1);
}
.buy-hamBurger_btn:active {
  transform: scale(1);
}

@media (max-width: 856px) {
  .Burger-Card_line {
    overflow-x: scroll;
    padding: 13px 0;
  }
  .Hamburger-box {
    padding: 0;
    padding-top: 25px;
  }
}
@media (max-width: 500px) {
  .hamBurger-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(46, 46, 46);
  }
  .hamBurger-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #F8B602;
  }
}
@media (max-width: 400px) {
  .hamBurger-link {
    max-width: 120px;
  }
}
@media (max-width: 290px) {
  .ham-line-item {
    transform: scale(0.9);
    margin-left: -10px;
  }
}
.pasta-box {
  padding: 20px 0;
}

.pasta-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.pasta-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.pasta-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #F8B602;
  font-family: "Poppins";
}

.pasta-Card_line {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.pasta-line-item {
  width: 272px;
  height: 363px;
  text-align: center;
  padding: 0px 0;
}
.pasta-line-item img {
  margin-inline: auto;
}

.pasta-sale-buy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 0 32px;
}

.pasta-star-line {
  display: flex;
  justify-content: start;
  align-items: end;
  flex-wrap: nowrap;
  padding: 5px 0;
}

.pasta-star-item {
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 4px;
}
.pasta-star-item:hover {
  transform: scale(1.1);
}
.pasta-star-item:active {
  transform: scale(1);
}

.pasta-sale-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
  text-align: start;
}

.pasta-sale-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #F8B602;
  font-family: "Poppins";
  text-align: start;
}

.buy-pasta_btn {
  background-color: #F8B602;
  border-radius: 8px;
  border: none;
  padding: 10px 13px;
  font-size: 30px;
  font-weight: 700;
  line-height: 27px;
  color: #fff;
  font-family: "Poppins";
  transition: all 0.2s ease;
  margin-top: 33px;
}
.buy-pasta_btn:hover {
  transform: scale(1.1);
}
.buy-pasta_btn:active {
  transform: scale(1);
}

@media (max-width: 859px) {
  .pasta-Card_line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding: 10px 0;
  }
  .pasta-line-item {
    margin: 0 10px;
  }
  .pasta-box {
    padding: 10px 0;
  }
  .page_two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .page_two li {
    margin-inline: auto;
  }
}
@media (max-width: 500px) {
  .pasta-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(46, 46, 46);
  }
  .pasta-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #F8B602;
  }
}
@media (max-width: 400px) {
  .pasta-link {
    max-width: 120px;
  }
}
@media (max-width: 290px) {
  .pasta-line-item {
    transform: scale(0.9);
    margin-left: -10px;
  }
}
.order-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 10px 0;
}

.order-name {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.order-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #F8B602;
  font-family: "Poppins";
}

.order-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 30px 0;
}

.order-line-item {
  margin-inline: 10px;
  text-align: center;
}

.order-card-name {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
  margin-top: 10px;
}

.order-price {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #F8B602;
  font-family: "Poppins";
}

.order-times {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(160, 152, 174);
  font-family: "Poppins";
}

@media (max-width: 980px) {
  .order-line {
    overflow-x: scroll;
  }
}
@media (max-width: 500px) {
  .order-name {
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(46, 46, 46);
    margin-right: 10px;
  }
  .order-link {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #F8B602;
  }
}
@media (max-width: 400px) {
  .order-link {
    max-width: 120px;
  }
}
.calc {
  padding: 20px 0;
  padding-right: 100px;
}

.calc-text-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px 0;
}

.calc--ordersname {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.food-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
  max-width: 300px;
  text-align: start;
}

.num-orders {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(46, 46, 46);
  background-color: #F8B602;
  padding-inline: 15px;
  border-radius: 15px;
  font-family: "Poppins";
}

.food-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}

.food {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}

.food-name {
  padding-top: 20px;
  margin-left: 20px;
}

.calc-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}

.minus {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 0 5px;
  color: rgb(151, 151, 151);
  outline: 2px solid rgb(151, 151, 151);
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  scale: 0.8;
  cursor: pointer;
}

.middle {
  margin-inline: 6px;
  padding-top: 20px;
}

.plus {
  margin-top: 20px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  padding: 0 5px;
  color: rgb(16, 201, 45);
  outline: 2px solid rgb(16, 201, 45);
  font-family: "Poppins";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  cursor: pointer;
  scale: 0.8;
}

.price-one-food {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.addition-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  padding: 15px 0;
}

.allofthem-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}

.service-price-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}

.service-price {
  font-size: 12px;
  font-weight: 300;
  line-height: 21px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.service-text {
  margin-right: 90px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.eats-price-box {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
}

.eats-price {
  font-family: "Poppins";
}

.eats-text {
  margin-right: 90px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.send-to_cafe {
  background-color: #F8B602;
  border-radius: 8px;
  border: none;
  padding: 10px 80px;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
}
.send-to_cafe:hover {
  transform: scale(1.03);
}
.send-to_cafe:active {
  transform: scale(1);
}

.food-box:nth-child(3) {
  border-bottom: 4px #F8B602 solid;
}

.order-mini-box {
  display: none;
}

.order-mini {
  padding: 32px 50px;
  background-color: #fff;
  width: 600px;
  height: auto;
  border-radius: 16px;
  border: 1px solid #E8E7E6;
  margin-inline: auto;
}

.order-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.order-mini-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.order-mini-text-num {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
  background-color: #F8B602;
  padding: 3px 24px;
  border-radius: 15px;
}

.mini-food-card-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
  max-width: 330px;
  text-align: start;
}

.price-mini-food-card {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  color: rgb(46, 46, 46);
  font-family: "Poppins";
}

.add-in-buttons {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: nowrap;
  max-width: 100px;
}

.mini-calc-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.order-food-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 34px 0;
  border-bottom: 1px solid #E8E7E6;
}

.allofthem-box-mini {
  text-align: center;
  padding: 20px 0;
}

.service-price-box-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 300px;
  margin-inline: auto;
  padding-bottom: 12px;
}

.eats-price-box-mini {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 300px;
  margin-inline: auto;
}

.send-to_cafe-mini {
  background-color: #F8B602;
  border-radius: 8px;
  border: none;
  padding: 10px 80px;
  width: 70%;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  color: #fff;
  transition: all 0.2s ease;
  margin-top: 36px;
  cursor: pointer;
}
.send-to_cafe-mini:hover {
  transform: scale(1.03);
}
.send-to_cafe-mini:active {
  transform: scale(1);
}

@media (max-width: 715px) {
  .calc {
    padding-right: 0;
  }
  .order-mini {
    padding: 20px 50px;
  }
}
@media (max-width: 650px) {
  .calc {
    display: none;
  }
  .order-mini-box {
    display: block;
    padding-top: 15px;
  }
  .order-mini {
    width: 100%;
  }
}
@media (max-width: 485px) {
  .order-mini-text {
    font-size: 20px;
  }
  .order-mini-text-num {
    padding: 4px 20px;
    font-size: 16px;
  }
  .mini-food-card-name {
    font-size: 16px;
    line-height: 22px;
    max-width: none;
  }
  .add-in-buttons {
    max-width: 50px;
  }
  .send-to_cafe-mini {
    background-position: center;
    width: 100%;
  }
  .price-mini-food-card {
    font-size: 16px;
  }
}
@media (max-width: 447px) {
  .order-food-card img:nth-child(1) {
    width: 100px;
    height: auto;
  }
  .order-food-card {
    padding: 20px 0;
  }
  .order-mini {
    padding: 20px 20px;
  }
}
@media (max-width: 360px) {
  .order-mini {
    padding: 12px 10px;
  }
  .mini-food-card-name {
    font-size: 14px;
  }
  .price-mini-food-card {
    font-size: 16px;
  }
  .service-text {
    max-width: 120px;
  }
}/*# sourceMappingURL=main.css.map */