header {
    background-color: #fff;
}


.remove-left-page_btn {
    @include allBtn($bg, 0 8px 8px 0 , none,3px 13px);
    position: absolute;
    top: 50px;
    right: -50px;
    cursor: pointer;
}


.left-page_box {
    position: absolute;
    z-index: 1000;
    text-align: center;
    width: 345px;
    transform: translateX(-400px);
    height:auto;
    background-color: #fff;
    // backdrop-filter: blur(10px);
    overflow-y: scroll;
    padding-top: 50px;
    transition: all .5s ease;
    
}

.menu-bar_box{
    margin-top: 62px;

}

.left-page_home {
    background-color: #fff;
    width: 252px;
    height: 64px;
    border-radius: 16px;
    @include flexBox(flex, start, center, nowrap);
    margin-inline: auto;
    margin-top: 30px;
    padding-left: 32px;
    cursor: pointer;
    transition: all .3s ease;


    svg{
        color: #A098AE;
    }

    &:hover{
        background-color: #f8b602a4;
    }

    &:hover svg{
        color: #fff;
    }
}

.left-page_home-active{
    background-color: $bg;

    svg{
        color: #fff;
    }

    p{
        color: #fff;
    }

    &:hover{
        background-color: $bg;
    }
}


.left-page_home:hover .left-page-home_text{
    color:rgba(255, 255, 255, 1) ;
}

.left-page-home_text {
    margin-left: 30px;
    @include textStyle(18px,500, 27px,rgba(160, 152, 174, 1) );
    font-family: "Poppins";
}
.upgrade-card {
    background-image: url(../../images/Group\ 181.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 252px;
    height: 202px;
    margin-top: 239px;
    margin-inline: auto;
    padding: 32px 33px 32px 33px;
    text-align: start;
}

.upCard-info {
    @include textStyle(18px,700, 27px,rgba(255, 255, 255, 1) );
    font-family: "Poppins";
    text-align: start;

}

.upgrade-btn {
    @include allBtn(#fff, 8px, none, 5px 18px );
    @include textStyle(14px,600, 27px,rgba(46, 46, 46, 1) );
    margin-top: 16px;
    transition: all .3s ease;

    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(1);
    }
}
.elipse-shadow {
    position: absolute;
    background: linear-gradient(173.01deg, #FFFFFF -74.62%, rgba(255, 255, 255, 0.892708) -56.47%, rgba(255, 255, 255, 0) 94.54%, rgba(255, 255, 255, 0) 94.54%);
    top: 945px;
    right: 0;
    width: 170px;
    height: 170px;
    border-radius: 50%;
}


.left-page-active{
    transform: translateX(0px);

    transition: all .5s ease;
    transform-origin: left;
}

.author-box {
    margin-top: 1000px;
    margin-bottom: 35px
}

.author-info {
    @include textStyle(15px, 400, 18px, rgba(0, 0, 0, 1));
    font-family: "Poppins";
    text-align: start;
    margin-left: 50px;
    margin-bottom: 7px;
}
.author-name {
    @include textStyle(15px, 700, 18px, rgba(0, 0, 0, 1));
    font-family: "Poppins";
    text-align: start;
    margin-left: 50px;
}
.header-in {
    @include flexBox(flex, space-between, center, nowrap);
    padding: 20px 0;

}
.burger-box {
    @include flexBox(flex, space-between, center, nowrap);
}


.burger {

    cursor: pointer;
   position: absolute;
   top: 20px;
    span{
        display: block;
        width: 35px;
        height: 4px;
        background-color: $bg;

        &:nth-child(2){
            margin: 4px 0;
        }
    }


}


.burger-active{
    transform: translateY(10px);
    transition: all .6s ease;
    transform-origin: left;
//    z-index: ;


    span:nth-child(1)
    {
     transform: rotateZ(44deg);
    transition: all .3s ease;
    margin-bottom: -4px;
    border-radius: 4px;


    }
   span:nth-child(2)
   {
    display: none;
   }

   span:nth-child(3)
   {
    margin-top: -3px;
    transform: rotateZ(-47deg);
    transition: all .3s ease;
    border-radius: 4px;



   }
}

.header-text {
    margin-left: 87px;
    @include textStyle(36px, 700, 35px, rgba(46, 46, 46, 1));
    font-family: "Poppins";
}
.saerch-box {
    @include flexBox(flex, space-between, center, nowrap);
    text-align: center;
    padding-top: 5px;

    }



.header-serach_btn {
  @include allBtn(transparent, none, none, none);
    transition: all .3s ease;
    &:hover{
        transform: scale(1.1);
    }
    &:active{
        transform: scale(1); 
    }

}




.search-all {
    outline: none;
    border: none;
    margin-left: 12px;
    @include textStyle(14px,400, 27px, rgba(160, 152, 174, 1));
    font-family: "Poppins";
    width: 331px;
    transition: all .3s ease;
    
    &:focus{
        @include textStyle(14px,400, 27px, rgba(46, 46, 46, 1));
    font-family: "Poppins";
    }
}

// ============================================
// media start

    


@media (max-width:820px) {
    .search-all{
        width: 300px;
    }

    .header-text{
    @include textStyle(32px, 700, 54px, rgba(46, 46, 46, 1));

    }

    .saerch-box{
        position: absolute;
        right: 20px;
    }
 
    .header-serach_btn {
        @include allBtn(#E9E6E4, 8px 0 0 8px, none, 4px 0);
        padding-bottom: 5px;
        padding-right: 5px;
        padding-left: 3px;
          transition: all .3s ease;
          &:hover{
              transform: scale(1);
          }
          &:active{
              transform: scale(1); 
          }
      
      }

    .search-all{
        border-radius: 0 8px 8px 0;
        padding: 5px 0;
        width: 80px;
        background-color: #E9E6E4;
        margin-left: 0;
        


        &::placeholder{
        transform: scaleX(0);
    }
        &:focus{
            width: 280px;
        }
        &:focus::placeholder{
            transform: scaleX(1);
            }


    }


    .upgrade-card {
        margin-top: 130px;
        margin-inline: auto;
        padding: 32px 33px 32px 33px;
        text-align: start;
    }

   

    .elipse-shadow {
        top: 835px;
 
    }


}

@media (max-width:700px) {

    .header-text{
        margin-left: 65px;
        }

    .header-text{
        @include textStyle(28px, 700, 54px, rgba(46, 46, 46, 1));
    
        }
    .saerch-box{
        top: 60px;
    }

    .search-all{
        background-color: transparent;
        width: 280px;
        &::placeholder{
            transform: scaleX(1);
        }
    }

    
.header-serach_btn {
    @include allBtn(transparent, none, none, 5px);
      transition: all .3s ease;
      &:hover{
          transform: scale(1.1);
      }
      &:active{
          transform: scale(1); 
      }
  
  }
  
}


@media (max-width:550px) {
    .saerch-box{
        top: 60px;
    }

    .search-all{
        width: 280px;
        background-color: transparent;
        
    }

    .search-all:focus{
        width: 280px;
    }
}

@media (max-width:410px) {
    .header-text{
    margin-left: 50px;
    }


}

@media (max-width:400px) {
    .remove-left-page_btn{
        right: 0;
        @include allBtn($bg, 8px 0px 0px 8px , none,3px 13px);
        top: 100px;
    }


    .upgrade-card{
        margin-top: 80px;
    }

   
    .elipse-shadow {
        top: 785px;
    }

    
}

@media (max-width:370px) {
    .left-page_box {
        width: 100%;

    }
}



@media (max-width:357px) {
    
    .header-text{
        @include textStyle(20px, 700, 35px, rgba(46, 46, 46, 1));
    
        }

        .saerch-box{
            top: 43px;
        }
    .search-all{
        width: 250px;

        &:focus{
            width: 250px;
        }
    }
    
    
}

@media (max-width:357px) {
    .search-all{
        width: 230px;
    } 
    .search-all::placeholder{
        font-size: 13px;
        width: 250px;

        &:focus{
            width: 250px;
        }
    }

}


