.pasta-box {
    padding: 20px 0;

}

.pasta-text-box {
    @include flexBox(flex, space-between, center, nowrap);

}
.pasta-name {
    @include textStyle(24px, 700, 36px, rgba(46, 46, 46, 1));
    font-family: "Poppins";
}
.pasta-link {
    @include textStyle(16px, 400, 27px,$bg);
    font-family: "Poppins";
}
.pasta-Card_line {
    padding: 30px 0;
    @include flexBox(flex, space-between, center, wrap);
}
.pasta-line-item {
    width: 272px;
    height: 363px;
    text-align: center;
    padding: 0px 0;

    img{
        margin-inline: auto;
    }
}

.pasta-sale-buy {
    @include flexBox(flex, space-between, center, nowrap);
    padding: 0 32px;
}

.pasta-star-line {
    @include flexBox(flex, start, end, nowrap);
    padding: 5px 0;
}
.pasta-star-item {
    cursor: pointer;
    transition: all .3s ease;
    margin-right: 4px;


    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(1);
    }
}
.pasta-sale-name {
    @include textStyle(18px, 500, 27px,rgba(46, 46, 46, 1));
    font-family: "Poppins";
    text-align: start;
}
.pasta-sale-price {
    @include textStyle(24px, 700, 36px,$bg);
    font-family: "Poppins";
    text-align: start;
}
.buy-pasta_btn {
    @include allBtn($bg, 8px , none,10px 13px);
    @include textStyle(30px, 700, 27px ,#fff);
    font-family: "Poppins";

    transition: all .2s ease;
    margin-top: 33px;

    &:hover{
        transform: scale(1.1);
    }

    &:active{
        transform: scale(1);
    }
}



// =========================================
// Media start




@media (max-width:859px) {
    .pasta-Card_line {
    @include flexBox(flex, space-between, center, nowrap);
        overflow-x: scroll;
        padding: 10px 0;
    }

    .pasta-line-item{
        margin: 0 10px ;
    }

    .pasta-box{
        padding: 10px 0 ;
    }

    .page_two{
        @include flexBox(flex, space-between, center, wrap);
        
        li{
            margin-inline: auto;
        }
    }
} 

@media (max-width:500px) {
    .pasta-name{
    @include textStyle(20px, 500, 20px,rgba(46, 46, 46, 1));
    }

    .pasta-link{
    @include textStyle(14px, 400, 17px,$bg);

    }
} 

@media (max-width:400px) {
    
    .pasta-link{
        max-width: 120px;
    }
} 

@media (max-width:290px) {
    .pasta-line-item{
        transform: scale(0.9);
        margin-left: -10px;
    }
} 