@font-face {
	font-family: "Poppins";
	src: url(../fonts/poppins-v20-latin-regular.ttf);
	src: url(../fonts/poppins-v20-latin-regular.woff);
	src: url(../fonts/poppins-v20-latin-regular.woff2);
	font-weight: 400;
}

@font-face {
	font-family: "Poppins";
	src: url(../fonts/poppins-v20-latin-500.ttf);
	src: url(../fonts/poppins-v20-latin-500.woff);
	src: url(../fonts/poppins-v20-latin-500.woff2);
	font-weight: 500;
}

@font-face {
	font-family: "Poppins";
	src: url(../fonts/poppins-v20-latin-700.ttf);
	src: url(../fonts/poppins-v20-latin-700.woff);
	src: url(../fonts/poppins-v20-latin-700.woff2);
	font-weight: 700;
}
